.navBtn {
  border: none;
  background-color: #ff9a3c;
  text-shadow: 1px 1px 1px grey;
  color: black;
  border-radius: 5px;
  height: 2em;
  transition: 0.2s;
  font-size: 1.5em;
}
.navBtn:hover {
  box-shadow: 2px 2px 2px black;
  transition: 0.1s;
}

.navBtn:active {
  box-shadow: 0px 0px 0px beige;
}
