.mainContainer {
  background-color: #ff9a3c;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
